body {
  background: #446CB3;
}

.FAQ {
  background-color: white;
  border: 25px solid #c69214;
  padding: 25px;

}
.FAQ h1{
  margin-left: 100px;
  margin-right: 70px;
}

.FAQ h5 {
  margin-left: 150px;
  margin-right: 70px;
}

.FAQ p {
  margin-left: 150px;
  margin-right: 150px;
}
