body {
  background: #446CB3;
}

.settings {
  background-color: white;
  border: 25px solid #c69214;
  padding: 25px;
}

.settings h1 {
  margin-left: 100px;
  margin-right: 70px;
}

.settingopts {
  margin-left: 150px;
}

.password {
  margin-top: 25px;
  margin-bottom: 25px;
}

.emailConf {
  margin-top: 25px;
  margin-bottom: 25px;
}

.deleteAcc {
  margin-top: 25px;
  margin-bottom: 25px;
}
